/web/bundles/
/web/vendor/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/env.php
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/app/SymfonyRequirements.php
/app/check.php
/docker/docker-compose.yml