<?php
/**
 * app/config/env.php
 *
 * Définit des paramètres d'environnement qui ne peuvent être placés dans les fichiers de configuration
 * parce qu'ils sont utilisés avant l'initialisationdu conteneur.
 */

// Adresses IP ayant accès au point d'entrée app_dev.php
$trustedIPs = array('127.0.0.1', '::1',);
// Répertoire de cache
$cacheDir = '/dev/shm/ganesh/cache/';
// Répertoire de logs
$logDir = '/dev/shm/ganesh/logs';